body {
  overflow: hidden; /* Hide scrollbars */
}
.loader {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index:9999 ;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    transition: 0.5s ;
    
}
.aqua {
    position: relative;
    width: 500px;
    padding: 30px;
    border-radius: 50px;
    box-shadow: inset 0 10px 5px rgba(0, 0, 0, 0.075),
    0 15px 8px rgba(0, 0, 0, 0.05),
    0 10px 15px rgba(0, 0, 0, 0.05),
    inset 0  -10px 15px rgba(255, 255, 255, 0.9);
    transition: 0.5s ;
}
.aqua::after{
    content: '';
    position: absolute;
    width: 95%;
    height: 5px;
    background: #fff4;
    border-radius: 20px;
    
    
}
.percentBar {
    position: relative;
    display: block;
    width: 20%;
    height: 10px;
    background: #03a9f0;
    border-radius: 20px;
}
.number {
    position: absolute;
    top:-64px;
    right: -55px;
    padding: 10px 15px ;
    color: #03a9f0;
    border-radius: 50px;
    border-bottom-left-radius: 0;
    box-shadow: inset 0 10px 5px rgba(0, 0, 0, 0.075),
    0 15px 8px rgba(0, 0, 0, 0.05),
    0 10px 15px rgba(0, 0, 0, 0.05),
    inset 0  -10px 15px rgba(255, 255, 255, 0.9);
    
}

#h{
    position: absolute;
    visibility: hidden;
    opacity: 0;
    font-weight: 400;
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    color:#fff ;
    transition: 0.5s ;
    transition-delay: 1s;
}
